 
   <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide">
    <!--First slide-->
    <div class="carousel-caption flex-center">
           <div class="row smooth-scroll">
                        <div class="col-md-12">
                            <div class="wow fadeInUp text-center">
                                <h2 class="display-3 font-bold white-text mb-3">Shyam Sasi T</h2>
                                <h4 class="font-up font-bold white-text pb-5">Dragon Killer</h4>
                                <h2 class=" mt-4 white-text">Part Time (PHP Developer)</h2>
                            </div>
                        </div>
                    </div>
        </div>
    <mdb-slide>
        <video class="video-fluid" autoplay loop>
            <source src="assets/Tropical.mp4" type="video/mp4" />
        </video>
        
    </mdb-slide>
    <!--/First slide-->
</mdb-carousel>
<!--Carousel Wrapper-->